.mainContainer{

}

.header{
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.inputHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40%;
    width: 30%;
}