

.Container{
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    margin-right: 30%;
    justify-content: space-between;

}

.textContainer{
    width: 70%;
    background-color: white;
    border-radius: 5px;

}

